<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" data-provider-thread-count="2">
    <test verbose="2" preserve-order="true"
          name="C:/Users/a.sampath/IdeaProjects/CermatiAssignment/src/main/java/runners/TestRunner.java">
        <classes>
            <class name="runners.TestRunner"></class>
        </classes>
    </test>
</suite>